.portfolio {
    position: relative;
  
    .progress {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: 50px;
      text-align: center;
      color: orange;
      font-size: 36px;
  
      .progressBar {
        height: 10px;
        background-color: white;
      }
    }
  
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
  
      .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-top: 200px; /* Adjusted to be more reasonable */
      }
  
      .imageContainer {
      flex: 1;
        height: 100%;
        width: 75%;
        display: flex;
        margin-top: 60px;
        margin-left: 20px;
        justify-content: center;
        
  
        img {
        
          height: 42%; /* Adjusted to auto to keep aspect ratio */
          object-fit: cover;
          border-radius: 30px;
          width: 80%;
        }
      }
  
      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
  
        h2 {
          font-size: 50px;
        }
  
        p {
          font-size: 20px;
          color: grey;
        }
  
        button {
          background-color: orange;
          border-radius: 25px;
          width: 70%;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          color: white;
          font-size: 16px;
        }
      }
    }
  }
  